<!DOCTYPE html>

    <head>
      <%- include('./components/header.ejs') %>
    </head>

<body>
    <%- include('components/navbar.ejs')%>
    
    <div class='container text-center'>
      <h1 style='font-size: 220px;
                position: relative;
                display: inline-block;
                z-index: 2;
                height: 250px;
                letter-spacing: 10px;'>
        Error 404: Not Found
      </h1>
      <br>
      
</body>