<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('./components/header.ejs') %>
      <link rel="stylesheet" href="/css/main.css">
    </head>
  <body>
    
        <%- include('./components/navbar.ejs') %>

        <section id="home"><!-- Início seção home -->
          <div class="container">
            <div class="row">
              <div class="col-md-6 d-flex"><!-- Textos da seção -->
                <div class="align-self-center">
                  <h1 class="display-4"><strong>Sky</strong></h1>
                  <p>
                    <strong>A qualidade vai te surpreender!</strong>
                   <br> Made by: QueeN#3306
                  </p>
                </div>
              </div><!--/fim textos da seção -->
              <div class="col-md-6 d-none d-md-block">
                <img src="/assets/saiba.png" class="img-fluid">
              </div>
            </div>
          </div>
        </section><!--/fim seção home -->
    
        <section class="caixa"><!--/Início seção saiba -->
          <div class="container">
            <div class="row">
              <div class="col-md-6 d-flex">
                <div class="align-self-center">
                  <h2>Transforme seu discord</h2>
                  <p>
                    Com o sky, você faz seu discord ganhar vida!
                  </p>
                  <a href="/comandos" class="btn btn-primary">Veja mais</a>
                </div>
              </div>
              <div class="col-md-6">
                <img src="https://media.discordapp.net/attachments/683344477871538229/777356467022856212/unknown.png" class="img-fluid">
              </div>
            </div>
          </div>
        </section><!--/FIM seção saiba -->
  
        <section class="caixa2"><!--/Início seção database -->
          <div class="container">
            <div class="row">
              <div class="col-md-6 d-flex">
                <div class="align-self-center">
                  <h2>Suas informações estão seguras!</h2>
                  <p>
                    Sky utiliza um dos melhores cloud databases do mercado!
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <img src="/assets/mongodb.png" class="img-fluid" class="pulse">
              </div>
            </div>
          </div>
        </section><!--/FIM seção database -->
  
  </body>
</html>
