<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('./components/header.ejs') %>
      <link rel="stylesheet" href="/css/main.css">
    </head>
  <body>
    
        <%- include('./components/navbar.ejs') %>

    <div class="heading text-center pt-3">
         <img class="round logo-avatar" src="https://media.discordapp.net/attachments/683344477871538229/777344047404286022/LogoSky.png?width=468&height=468" alt="Icon">
        <h1 class="display-5 heading--title">Sky</h1>
        <p class="heading--subtitle"><strong>Sky é um bot focado em diversão e comandos de categoria diversos</strong>, possui também <br> alguns comandos de moderação e foi feito pensado para você!</p>
        <p class="heading--textareakk">Dashboard: Matheuuus#7083, Bot: QueeN#3306</p>
    </div>
    

  </body>
</html>
