<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('../components/header.ejs') %>
      <link rel="stylesheet" href="/css/sidebar.css">
    </head>
  <body>

      <div id="page-content-wrapper" style="width: 100%;">
  
        <%- include ('../components/navbar.ejs') %>
  
        <div class="jumbotron text-center bg-transparent">
          <h1 class="display-3">Sky Dashboard</h1>
          <hr>
          <p class="lead">Escolha um servidor</p>
          
        </div>
        
      </div>
  
    </div>
  </body>
</html>